/* * {
    margin: 0;
    padding: 10px;
    box-sizing: content-box;
    outline: none;
    user-select: none;
    border-radius: 5px;
} */
body,
html {
    margin: 0;
    background-color: #ffe15a4d;

}

#container {
    /* background-color: #ffe15a4d; */
    background-color: #ffd43b;
}

/* #save-button {
    width: 90%;
    margin-bottom: 5px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    color: darkgrey;
    font-weight: bold;
    font-stretch: extra-expanded;
    background-color: white;
    border-radius: 5px;
    border: 2px dashed darkgrey;

} */

#display {
    margin: 0 auto;
    overflow: auto;
    height: 400px;
    width: 350px;
    background: rgb(255, 248, 215);

    /* font-family: 'Helvetica', sans-serif; */
    font-size: 16px;
    color: black;
    border: 2px dashed rgb(255, 225, 90, 0.5);
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    margin: 5px;

    /* flex-direction: column-reverse; */
    /* background-image: linear-gradient(rgba(247, 226, 134, 0.5), rgba(233, 211, 105, 0.5)); */
    /* text-shadow: 0 1px 1px rgba(0, 0, 0, 0.11); */
}

#title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #183153;
    margin: 0 0;
    padding: 15px;
}

#title span {
    float: right;
    padding-top: 3px;
}


#messages {
    /* display: inline-block; */
    margin: 0 auto;

    font-family: courier;
    color: rgb(60, 60, 60);
    background-color: white;
    border-radius: 3px;
}


#input-container {
    padding: 10px;
    max-width: 360px;
    color: rgb(60, 60, 60);
    text-align: center;
}

#user-input {
    width: 97%;
    height: 57px;
    background-color: #f0f4fa;
    border: 1px solid #183053;
    border-radius: 5px;
}

#save-btn {
    width: 98.5%;
    height: 40px;

    position: relative;
    border-width: 0.125em;
    border-style: solid;
    border-radius: 0.3em;
    box-shadow: 0.275em 0.275em 0 #183153;


    background: rgb(255, 248, 215);
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    color: #183153;
    font-weight: 600;
    margin-bottom: 30px;
}

/* button {
    height: 30px;
    width: 30px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 2px;
}

button.current {
box-shadow: 0 0 0 2px white,
            0 0 0 4px black;
} */